*,*:before, *:after {
    box-sizing:border-box;
}
html {
    background: #EBD3C5;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content:space-between
}

header > h1 {
    text-align: center;
}

header > ul {
    display: block;
    padding-left: 0;
}

h3, h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}
li>a {
    text-decoration: none;
}

#mapId2 {
    margin: 0 auto;
    height: 400px;
}

#mapId2>p {
    margin-top: 500px;
}

form {
    display:block;
    margin: 0 auto;
}

body >p {
    color: red;
}

#clearing {
    margin-top: 10px;
}